<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<table>
 	<tr>
 		<td>name</td>
 		<td>email</td>
 		<td>password</td>
 	</tr>
 	<% @users.each do |user| %>
 	<tr>
 		<td><%= user.name %></td>
 		<td><%= user.email %></td>
 		<td><%= user.password %></td>
 	</tr>
 	<% end %>
</table>
