<h1>Hello, Rails! Yichen Wei</h1>
<a href="https://github.com/weyichen/">github.com/weyichen</a>

<form>
<input type="text">
<input type="radio">
<input type="checkbox">
<input type="submit">
</form>

<img border="0" src="http://www.w3schools.com/images/pulpit.jpg" alt="Pulpit rock" width="304" height="228">